html
  head
    title=title
  body
    form(action='/login', method='get')
      label(for='username') username
      input#username(type='text', name='username', placeholder='username')
      label(for='password') password
      input#password(type='password', name='password')
      input(type="submit")