html
  head
    title=title
    link(rel="stylesheet", href="/css/style.css")
  body
  h1="Login Page"
    form(action='/login', method='post')
      label(for='username') username
      input#username(type='text', name='username', placeholder='username')
      label(for='password') password
      input#password(type='password', name='password')
      input.btn(type="submit")
  div 
    a(href="/singup")='singup'  
    a(href="/")='home'     