:root {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: bolder;
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

form input {
  width: 20rem;
  padding: 10 5 10 5;
  border-radius: 20px;
}

form label {
  font-size: 2.5rem;
  font-style: italic;
}

a {
  font-size: 1.8rem;
  font-style: italic;
  color: white;
  border: 2px solid wheat;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
  margin: 0 5 0 5;
}

a:hover {
  color: black;
  background-color: white;
}

.btn {
  background-color: transparent;
  border-radius: 20px;
  border: 4px solid white;
  color: wheat;
  font-size: 2rem;
  margin-top: 20px;
}
